# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore emacs backup files
*~

# Ignore executables
bin/*

# Ignore build and lib dirs
build
lib/*

# Ignore doxygen-generated output
doc/ref

# Ignore the code log
codelog.txt

# We don't want ppms
*.ppm

# Don't track spikes for now
spikes/

# Don't need the generated *.inc files
src/elements/include/StdElements.inc
src/elements/include/StdElementsHeaders.inc

# Using Google's lint but don't want to commit it.
tools/cpplint.py