# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore emacs backup files
*~

# Ignore executables
bin/*

# Ignore build and lib dirs
build
lib/*